<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="slap.programing.onyx.item.ItemMapper">

    <select id="itemAllList" resultType="ItemVO">
        SELECT ITEM_ID,
               ITEM_NAME,
               ITEM_PRICE,
               ITEM_QTY
        FROM ITEM
    </select>

    <insert id="saveItem" parameterType="ItemVO">
        INSERT INTO ITEM(ITEM_ID,
                         ITEM_NAME,
                         ITEM_PRICE,
                         ITEM_QTY
                         )
        VALUES (SEQ_ITEM.NEXTVAL,
                #{itemName},
                #{itemPrice},
                #{itemQty}
                )
    </insert>

    <select id="ItemDetail" parameterType="Long" resultType="ItemVO">
        SELECT ITEM_ID,
               ITEM_NAME,
               ITEM_PRICE,
               ITEM_QTY
        FROM ITEM
        WHERE ITEM_ID = #{itemId}
    </select>

</mapper>